<div class="row-fluid">
  <div class="span3">
  </div>
  
  <div class="span7">
	<div class="container">
		<h1>About</h1>
		<p>
			This is a photoblog about the experiences of Anja and Alexander in Australia.
		</p>
	</div>
  </div>

  <div class="span2">
  </div>
</div>