<!DOCTYPE html>
<html>
  <head>
    <title>PhotoBlog | About</title>
  </head>
  <body>
	<h1>About</h1>
	<p>
		This is a photoblog about the experiences of ... and ... in .. .
	</p>
  </body>
</html>
