<div class="row">
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <div class="bckgrnd-img">
      <%= image_tag( 'fig2.jpg' , alt: "Loan default propability in correlation with economic activity in zip code area.") %>
    </div>
    <div class="center jumbotron">
      <div class="home-highlight-text">
        <h1>Thanks for visiting</h1>
        <h2>
          Alexander
        </h2>
      </div>
    </div>
  </div>

  <div class="col-md-1">
  </div>
</div>




