<div class="row">
  <div class="col-md-3">
  </div>
  
  <div class="col-md-7">
	<div class="container">
		<h1>Help</h1>
		<p>
			This page is still under construction. If you find any bugs, unexpected behaviour or just something you do not like, please drop us a line.
		</p>
	</div>
  </div>

  <div class="col-md-2">
  </div>
</div>