<div class="row-fluid">
  <div class="span2">
  </div>

  <div class="span8">
    <div class="bckgrnd-img ">
      <%= image_tag( 'background.jpg' , alt: "Sydney at night" ) %>
      <% if signed_in? %>
        <div class="center hero-unit-mod">
          <div class="home-highlight-text">
             <h1>Welcome back!</h1>
          </div>
          <br>
          <%= link_to "To the posts", posts_path, class: "mod-button mod-lrg-button" %>
        </div>
      <% else %>
          <div class="center hero-unit-mod">
            <div class="home-highlight-text">
              <h1>Welcome to the PhotoBlog</h1>
              <h2>
                of Anja and Alexander
              </h2>
            </div>
            <%= link_to "Sign in!", signin_path, class: "mod-button mod-lrg-button" %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="span2">
  </div>
</div>




