<div class="row">
  <div class="col-md-1">
  </div>

  <div class="col-md-10">
    <div class="bckgrnd-img">
      <%= image_tag( 'background.jpg' , alt: "Sydney at night") %>
    </div>
      <% if signed_in? %>
        <div class="center jumbotron">
          <div class="home-highlight-text">
             <h1>Welcome back!</h1>
          </div>
          <br>
          <%= link_to "To the posts", posts_path, class: "mod-button mod-lrg-button" %>
        </div>
      <% else %>
          <div class="center jumbotron">
            <div class="home-highlight-text">
              <h1>Welcome to the PhotoBlog</h1>
              <h2>
                of Anja and Alexander
              </h2>
            </div>
            <%= link_to "Sign in!", signin_path, class: "mod-button mod-lrg-button" %>
          </div>
      <% end %>
  </div>

  <div class="col-md-1">
  </div>
</div>




