<li>
  <div class="row">
	  <div class="col-md-8 single-comment"><%= comment.content %></div>
	  <div class="col-md-4 timestamp">
	    Posted by <span class="comment-creator"><%= comment.name %></span> <%= time_ago_in_words(comment.created_at) %> ago.
	     <% if admin? %>
	        <span class="delete"> 
	  	  	<%= link_to "Delete", comment, method: :delete,
	  	  								data: { confirm: "Are you sure?" },
	  	  								title: comment.content %>
	  	  </span>
	    <% end %>
	  </div>
  </div>
</li>