<div class="row">
  <div class="col-md-3">
    <div class="well sidebar-nav gallery-sidebar">
      <%= render 'shared/galleries' %>
    </div>
  </div>
  
  <div class="col-md-8">
    <h1>Recently commented images</h1>
		<% @comments.each do |comment| %>	
			<ol class="posts">
				<div class="comment_gallery">
		        	<% if !comment.post.gallery.nil? %>
		        		From gallery: <%= link_to comment.post.gallery.name, comment.post.gallery, :class=>"gallery-link"%> 
		        	<% end %>
	        	</div>
		        <%= render comment.post %>
		    </ol>
 		    
	    <%end%>
	    <%= will_paginate @comments %>
  </div>
  <div class="col-md-1">
  </div>
</div>