<li>
  <%= image_tag( url_esc_user(100, :thumb, user), class: "avatar", alt: user.name) %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>