<div class="row">
  <div class="span12">
    <section>
      <h1>
        <%= image_tag @user.avatar.expiring_url(10, :medium), class: "avatar" %>
        <%= @user.name %>
      </h1>
    </section>
  
  </div>
</div>