<div class="row">
  <div class="span12">
    <section>
      <h1>
        <%= image_tag( url_esc(100, :medium, @user) , class: "avatar") %>
        <%= @user.name %>
      </h1>
    </section>
  
  </div>
</div>