<% if @galleries.any? %>
  <div id="galleries">
    <ul>
    <% @galleries.each do |gal| %>
      <% if @gallery_id.to_i == gal.id.to_i %>
        <li><%= link_to gal.name, gal, :class=>"gallery-link bold" %></li>
      <% else %>
        <li><%= link_to gal.name, gal, :class=>"gallery-link" %></li>
      <% end %>
      | <%= link_to "delete", gal, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    </ul>
  </div>
<% end %>