<div class="container">
	<h1>Create a new post</h1>

	<div class="row">
	<aside class="span4">
	  <section>
	    <%= render 'shared/user_info' %>
	  </section>
	  <section>
	    <%= render 'shared/post_form' %>
	  </section>
	</aside>
	</div>  
</div>
