<div class="container">
	<h1>Create a new gallery</h1>

	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	    <%= form_for(@gallery) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Create gallery", class: "btn btn-large btn-primary" %>
	    <% end %>
	  </div>
	</div>
</div>