<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav gallery-sidebar">
      <%= render 'shared/galleries' %>
    </div>
  </div>
  
  <div class="span7">
    <% if @posts.any? && signed_in? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>

  <div class="span2">
  </div>
</div>