<footer class="footer">
	<div class="row-fluid">
	    <div class="span4">
	    	<%= link_to "PhotoBlog", root_path %>
	    </div>
	    <div class="span8">
	    	<nav>
			    <ul>
			    </ul>
			</nav>
	    </div>
    </div>
</footer>