<footer class="footer">
	<div class="row">
	    <div class="col-md-4">
	    	<%= link_to "PhotoBlog", root_path %>
	    </div>
	    <div class="col-md-8">
	    	<nav>
			    <ul>
			    </ul>
			</nav>
	    </div>
    </div>
</footer>